<div class="container">
<%#= @donor.relationships%>
<%#= @donor.relationships.as_json%>
<%#= @relationshiphash1%>
<%#= @relationship_hash_array%>
<%#= @donor_hash_array%>
<%#= @targethash%>
<%#=@targetidvalues%>
<%#=@nodeid%>
<div class="modal fade" id="donorInformationModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:400px;">
     <div class="modal-content">
     </div>
  </div>
</div>

  


  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
         
           
            <h3><%= @donor.name %></h3>
            <%=image_tag @donor.image.url(:medium)%>
         
        </div>
        <div class="card-body">
          <p class="card-text">
            <strong>Age:</strong>
            <%= @donor.age %>
          </p>

          <p>
            <strong>Gender:</strong>
            <%= @donor.gender %>
          </p>

          <p>
            <strong>Race:</strong>
            <%= @donor.race %>
          </p>

          <p>
            <strong>Religion:</strong>
            <%= @donor.religion %>
          </p>

          <p>
            <strong>Networth:</strong>
            <%= @donor.networth %>
          </p>

          <p>
            <strong>Employer:</strong>
            <%= @donor.employer %>
          </p>

          <p>
            <strong>Position:</strong>
            <%= @donor.position %>
          </p>

          <p>
            <strong>Education:</strong>
            <%= @donor.education %>
          </p>

          <p>
            <strong>Associations:</strong>
            <%= @donor.associations %>
          </p>

          <p>
            <strong>Military:</strong>
            <%= @donor.military %>
          </p>

          <p>
            <strong>Location:</strong>
            <%= @donor.location %>
          </p>

          <p>
            <strong>Zip:</strong>
            <%= @donor.zip %>
          </p>

          <p>
            <strong>Description:</strong>
            <%= @donor.description %>
          </p>

          <p>
            <strong>Life event:</strong>
            <%= @donor.life_event %>
          </p>

          <p>
            <strong>Donation goal:</strong>
            <%= @donor.donation_goal %>
          </p>

          <p>
            <strong>Donation ytd:</strong>
            <%= @donor.donation_YTD %>
          </p>
        </div>
      </div>
      <div class="card-footer">

        <div class="row">
          <div class="col-md-6">
            <%= link_to 'Edit', edit_donor_path(@donor), class: "btn snazzybtn snazzybtn-onev1 pull-left" %> 
          </div>
         
          <div class="col-md-6">
            <%= link_to 'Back', donors_path, class: "btn snazzybtn snazzybtn-twov1 pull-right"%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="title">
        <br/>
        <div class="title-word">Social Network
        </div>
      </div>
      <div id="donornetwork"></div> 
      <div>
        <div class="row">
          <div class="col-md-6">
            <%= button_to 'Add a Donor', new_donor_path,  :method => :get,class: "cutebtn cutebtnsecondv1 pull-left" %> 
          </div>
          <div class="col-md-6 ">
            <%= button_to 'Add a Relationship', new_relationship_path , :method => :get,class: "cutebtn cutebtnsecondv2 pull-right"%>
          </div>
        </div>
      </div>
    </div>
  </div>


  

  <script type="text/javascript">
    // create an array with nodes
  var nodes = new vis.DataSet(<%= raw @donor_hash_array%>);

  // create an array with edges
  var edges = new vis.DataSet(<%= raw@relationship_hash_array%>);

  // create a network
  var container = document.getElementById('donornetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
      interaction: {
          hover: true,

          navigationButtons: true,
          keyboard: true
 
        },
      
      nodes: {                   
                size: 35,
                borderWidth: 2,
                shadow:true,
                
                
        },

        edges: {
            width: 2,
            shadow:true,

            length:250
        },

        physics: {
          stabilization: false

        }

    };
  var network = new vis.Network(container, data, options);





  network.on( 'click', function(params) {
    //console.log(params);
    if (params.nodes.length > 0) {
        $.ajax({ url: '/searchdonor',
          data: { 
          "donornodeid": params.nodes[0]
         }})
        
       
      };
 
   });


  var networkCanvas = document.getElementById("donornetwork").getElementsByTagName("canvas")[0]
  function changeCursor(newCursorStyle){
    networkCanvas.style.cursor = newCursorStyle;
  }
 
  network.on('hoverNode', function () {
    changeCursor('pointer');
  });
  network.on('blurNode', function () {
    changeCursor('default');
  });
  </script>
</div>