<div class="container">
	<div class="card">
		<div class="card-body">
			<div class="title">
				<div class="title-word">Relationship:
		    		<%= @relationship.link_description %>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
		        <div class="card-header">
					<%= image_tag Donor.find(@relationship.donor_id).image.url(:small) %>
				</div>
		        <div class="card-body">
		        	<p>
		  				<strong>Donor ID:</strong>
		  				<%= @relationship.donor_id %>
					</p>
					<p>
					  <strong>Donor Name:</strong>
					  <%= Donor.find(@relationship.donor_id).name %>
					</p>

					<!-- <p>			
			            <strong>Age:</strong>
			            <%= Donor.find(@relationship.donor_id).age %>
			        </p>

			        <p>
			            <strong>Gender:</strong>
			            <%= Donor.find(@relationship.donor_id).gender %>
			        </p>

			        <p>
			            <strong>Race:</strong>
			            <%= Donor.find(@relationship.donor_id).race %>
			        </p>

			        <p>
			            <strong>Religion:</strong>
			            <%= Donor.find(@relationship.donor_id).religion %>
			        </p>

			        <p>
			            <strong>Networth:</strong>
			            <%= Donor.find(@relationship.donor_id).networth %>
			        </p>

			        <p>
			            <strong>Employer:</strong>
			            <%= Donor.find(@relationship.donor_id).employer %>
			        </p>

			        <p>
			            <strong>Position:</strong>
			            <%= Donor.find(@relationship.donor_id).position %>
			        </p>

			        <p>
			            <strong>Education:</strong>
			            <%= Donor.find(@relationship.donor_id).education %>
			        </p>

			        <p>
			            <strong>Associations:</strong>
			            <%= Donor.find(@relationship.donor_id).associations %>
			        </p>

			        <p>
			            <strong>Military:</strong>
			            <%= Donor.find(@relationship.donor_id).military %>
			        </p>

			        <p>
			            <strong>Location:</strong>
			            <%= Donor.find(@relationship.donor_id).location %>
			        </p>

			        <p>
			            <strong>Zip:</strong>
			            <%= Donor.find(@relationship.donor_id).zip %>
			        </p>

			        <p>
			            <strong>Description:</strong>
			            <%= Donor.find(@relationship.donor_id).description %>
			        </p>

			        <p>
			            <strong>Life event:</strong>
			            <%= Donor.find(@relationship.donor_id).life_event %>
			        </p>

			        <p>
			            <strong>Donation goal:</strong>
			            <%= Donor.find(@relationship.donor_id).donation_goal %>
			        </p>

			        <p>
			            <strong>Donation ytd:</strong>
			            <%= Donor.find(@relationship.donor_id).donation_YTD %>
			        </p> -->

				</div>
		     </div>
	     </div>

		<div class="col-md-6">
			<div class="card">
	        	<div class="card-header">
	        		<%= image_tag Donor.find(@relationship.target).image.url(:small) %>
	        	</div>
	        	<div class="card-body">
	        		<p>
					  <strong>Target ID:</strong>
					  <%= @relationship.target %>
					</p>

					<p>
					  <strong>Target Name:</strong>
					  <%= Donor.find(@relationship.target).name %>
					</p>

					<!-- <p>			
			            <strong>Age:</strong>
			            <%= Donor.find(@relationship.target).age %>
			        </p>

			        <p>
			            <strong>Gender:</strong>
			            <%= Donor.find(@relationship.target).gender %>
			        </p>

			        <p>
			            <strong>Race:</strong>
			            <%= Donor.find(@relationship.target).race %>
			        </p>

			        <p>
			            <strong>Religion:</strong>
			            <%= Donor.find(@relationship.target).religion %>
			        </p>

			        <p>
			            <strong>Networth:</strong>
			            <%= Donor.find(@relationship.target).networth %>
			        </p>

			        <p>
			            <strong>Employer:</strong>
			            <%= Donor.find(@relationship.target).employer %>
			        </p>

			        <p>
			            <strong>Position:</strong>
			            <%= Donor.find(@relationship.target).position %>
			        </p>

			        <p>
			            <strong>Education:</strong>
			            <%= Donor.find(@relationship.target).education %>
			        </p>

			        <p>
			            <strong>Associations:</strong>
			            <%= Donor.find(@relationship.target).associations %>
			        </p>

			        <p>
			            <strong>Military:</strong>
			            <%= Donor.find(@relationship.target).military %>
			        </p>

			        <p>
			            <strong>Location:</strong>
			            <%= Donor.find(@relationship.target).location %>
			        </p>

			        <p>
			            <strong>Zip:</strong>
			            <%= Donor.find(@relationship.target).zip %>
			        </p>

			        <p>
			            <strong>Description:</strong>
			            <%= Donor.find(@relationship.target).description %>
			        </p>

			        <p>
			            <strong>Life event:</strong>
			            <%= Donor.find(@relationship.target).life_event %>
			        </p>

			        <p>
			            <strong>Donation goal:</strong>
			            <%= Donor.find(@relationship.target).donation_goal %>
			        </p>

			        <p>
			            <strong>Donation ytd:</strong>
			            <%= Donor.find(@relationship.target).donation_YTD %>
			        </p> -->
	        	</div>
	        </div>
	    </div>
	</div>



<br/>



<%= link_to 'Edit', edit_relationship_path(@relationship), class: 'btn snazzybtn snazzybtn-onev1' %> 
<%= link_to 'Back', relationships_path, class: 'btn snazzybtn snazzybtn-twov1' %>
</div> <!-- container -->