<div class="container" style="height:900px"> 

  <div class="row">
    <div class="col-md-4">
      <%= link_to root_path do %>
        <%=image_tag("eagleforcefoundationlogo.png",  {:style => "width:35%;"}) %>
      <%end%>
    </div>
     
    <div class="col-md-8 text-right">
       <br/>
      <i class="fa fa-user fa-lg usericon"></i>  

      <span class="useremail"><%= current_user.email %></span>

      <%= link_to "logout", destroy_user_session_path, class: "btn snazzybtn snazzybtn-five-sm",method: :delete %>
    </div>
	</div>

	<br/>
	<br/>
	<br/>


	<div class="row">
    <div class="col-md-12 text-center welcome">
      Welcome to EagleForce Donor Information Management System
    </div>
  </div>

  <br/>
	<br/>
	<br/>
	<br/>
	<br/>
 
  <br/>
  <div class="row">
    <div class="col-md-6 text-center">
      <%= link_to 'View Donors', donors_path, class: "btn btnglow btnglow-8" %>
    </div>
    


    <div class="col-md-6 text-center">
      <%= link_to 'View Relationships', relationships_path, class: "btn btnglow btnglow-7" %>
    </div>
  

  
  </div>


  <div class="row">
    <div class="col-md-6 text-center">
      <%= link_to 'New   Donor', new_donor_path, class: "btn btnglow btnglow-2" %>
    </div>
    
    <div class="col-md-6 text-center">
      <%= link_to 'New Relationship', new_relationship_path, class: "btn btnglow btnglow-6" %>
    </div>


    

    
  </div>



  </div>

</div> <!-- !container -->

