<div class="container">

  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
         
           
            <h3><%= @doner.name %></h3>
            <%=image_tag @doner.image.url(:medium)%>
         
        </div>
        <div class="card-body">
          <p class="card-text">
            <strong>Age:</strong>
            <%= @doner.age %>
          </p>

          <p>
            <strong>Gender:</strong>
            <%= @doner.gender %>
          </p>

          <p>
            <strong>Race:</strong>
            <%= @doner.race %>
          </p>

          <p>
            <strong>Religion:</strong>
            <%= @doner.religion %>
          </p>

          <p>
            <strong>Networth:</strong>
            <%= @doner.networth %>
          </p>

          <p>
            <strong>Employer:</strong>
            <%= @doner.employer %>
          </p>

          <p>
            <strong>Position:</strong>
            <%= @doner.position %>
          </p>

          <p>
            <strong>Education:</strong>
            <%= @doner.education %>
          </p>

          <p>
            <strong>Associations:</strong>
            <%= @doner.associations %>
          </p>

          <p>
            <strong>Military:</strong>
            <%= @doner.military %>
          </p>

          <p>
            <strong>Location:</strong>
            <%= @doner.location %>
          </p>

          <p>
            <strong>Zip:</strong>
            <%= @doner.zip %>
          </p>

          <p>
            <strong>Description:</strong>
            <%= @doner.description %>
          </p>

          <p>
            <strong>Life event:</strong>
            <%= @doner.life_event %>
          </p>

          <p>
            <strong>Donation goal:</strong>
            <%= @doner.donation_goal %>
          </p>

          <p>
            <strong>Donation ytd:</strong>
            <%= @doner.donation_YTD %>
          </p>
        </div>
      </div>
      <div class="card-footer text-center">
        <%= link_to 'Edit', edit_doner_path(@doner), class: "btn btn-success" %> 
        <%= link_to 'Back', doners_path , class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>